@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html {
    transition-duration: 0.5s;
}

body {
    transition-duration: 0.8s;
}

@media screen and (min-width: 786px) {
    body {
        background: linear-gradient(90deg, #0000 calc(100% - 3px), rgba(10, 10, 10, 0.03) 0);
        background-size: calc((100% - 5*1px)/6 + 1px) 100%;
    }

    .animated-shapes {
        background-image: url("../public/animated_shapes.svg");
        background-repeat: no-repeat;
        position: absolute;
        opacity: 0.9;
        filter: blur(10px);
        top: 0;
        left: 0;
        width: 100vw;
        height: 100%;
    }

    .philip-svg {
        background-size: cover;
    }
}


.background-image {
    transition-duration: 0.6s;
    background-attachment: fixed;
    background-size: cover;
 }

.section-with-background {
    position: relative;
}


.title-large {
    font-size: 1.8em;
    margin-bottom: 0.5em;
}

.opacity-order {
    opacity: 0.6;
}

.shadow-image span:last-child {
   box-shadow: 0 5px 20px 6px rgba(0,0,0,0.43)
}

#product-buy-image > div:first-child {
    border-radius: 4px;
    filter: drop-shadow(-1px 13px 13px rgba(0,0,0,0.4));
}

.swiper-pagination-bullet {
    background: rgb(202 138 4) !important;
}
.swiper-container {
    width: 100%;
}


.yellow-line-vertical::after {
    content: "";
    position: absolute;
    right: 15px;
    bottom: 0;
    background: rgba(131,58,180, 0.4);
    background: linear-gradient(90deg, rgba(131,58,180,0.060071165966386555) 4%, rgba(253,29,29,0.06989933473389356) 40%, rgba(252,176,69,0.18634191176470584) 100%);
    width: 4px;
    height: 40px;
}

.animated-shapes-under {
    background-image: url("../public/animated_shapes2.svg");
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0.2;
    bottom: 0;
    left: 0;
    width: 90vw;
    height: 900px;
}


.underline-animation {
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}

.underline-animation:after {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgb(63 63 70);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}
.underline-animation:hover:after {
    width: 100%;
    left: 0;
}

#swiper-wrapper > div {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.5s;
}

.react-photo-gallery--gallery img {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.page-transition-enter {
    opacity: 0;
}
.page-transition-enter-active {
    opacity: 1;
    transition: opacity 300ms;
}
.page-transition-exit {
    opacity: 1;
}
.page-transition-exit-active {
    opacity: 0;
    transition: opacity 300ms;
}

.bg-custom-dark {
    background-color: #00001a;
    animation-name: bgTransition;
    animation-duration: 3s;
}


@keyframes bgTransition {
    from {background-color: white;}
    to {background-color: #00001a;}
}

.philip-svg {
    background-repeat: no-repeat;
    height: 500px;
    background-size: contain;
}
.about-philip {
    background-image: url("../public/pad.svg");
}
.about-philip-dark {
    background-image: url("../public/pad_donker.svg");
}
